@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background: var(--color-primary);
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1.3fr 2fr 1.3fr);
    grid-gap: 0.7rem;
    /* margin: 0.4rem; */
}

/* //////////////////////////////////////////////////////////////////// */

.section_izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: var(--color-primary);
}

.section_izquierda article {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--color-tercer);
}

.section_izquierda_header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    background: var(--color-tercer);
}

.section_izquierda_navegador {
    display: flex;
    width: 100;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.section_izquierda_navegador input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    font-size: 16px;
}

.section_izquierda_navegador input[type="text"]:focus {
    outline: none;
    border-color: green; /* Cambiar color al enfocar */
}

.section_izquierda_album {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.6rem;
    border-radius: 1rem;
    overflow-y: scroll;
    background: var(--color-tercer);
}

/* //////////////////////////////////////////////////////////////////// */

.section_centro {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 0.7rem;
    flex-direction: column;
    align-items: center;
    background: var(--color-primary);
}

.section_centro_header {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 1rem;
    background: var(--color-tercer);
    color: white;
}

.section_centro article {
    width: 100%;
    border-radius: 0.7rem;
    height: 80%;
}

.section_centro_reproductor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: var(--color-tercer);
}

.menu {
    display: none;
    width: 25%;
    height: 8%;
    align-items: center;
}

.menu ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ul li {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section_centro_navegador {
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 0.7rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    background: var(--color-tercer);
}

.section_centro_navegador input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    font-size: 16px;
}

.section_centro_navegador input[type="text"]:focus {
    outline: none;
    border-color: green; /* Cambiar color al enfocar */
}

/* //////////////////////////////////////////////////////////////////// */

.section_derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 0.7rem;
    background: var(--color-primary);
}

.section_derecha article {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: var(--color-tercer);
}

.section_derecha_header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 1rem;
    color: white;
    background: var(--color-tercer);
}

.section_derecha_navegador {
    display: flex;
    width: 100;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.section_derecha_navegador input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    font-size: 16px;
}

.section_derecha_navegador input[type="text"]:focus {
    outline: none;
    border-color: green; /* Cambiar color al enfocar */
}

.section_derecha_canciones {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    flex-direction: column;
    overflow-y: scroll;
    background: var(--color-tercer);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


my-album {
    display: flex;
    flex-direction: column;
    color: white;
}

my-album img {
    border: 1px solid red;
}

/* /////////////////////////////////////////////////////////////////// */

@media (width < 800px) {

    body {
        overflow: hidden;;
    }

    main {
        width: 100%; 
        height: 100%;
        top: 0;
        left: 0;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        flex-direction: column;
        scroll-snap-type: x mandatory; 
        flex-direction: column;
    }

    .section_izquierda {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        /* height: 100vh; */
        background: var(--color-primary);
    }
    
    .section_izquierda article {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: var(--color-tercer);
    }

    .section_izquierda_header {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
        background: var(--color-tercer);
    }
    
    .section_izquierda_navegador {
        display: flex;
        width: 100;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    
    .section_izquierda_navegador input[type="text"] {
        padding: 10px;
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        font-size: 16px;
    }
    
    .section_izquierda_navegador input[type="text"]:focus {
        outline: none;
        border-color: green; /* Cambiar color al enfocar */
    }
    
    .section_izquierda_album {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75%;
        align-items: center;
        overflow-y: scroll;
        border-radius: 0.7rem;
        background: var(--color-tercer);
    }
    

    /* ////////////////////////////////////////////////////////////////////////////////////// */

    .section_centro {
        display: flex;
        width: 100vw;
        /* height: 100vh; */
        gap: 0.7rem;
        flex-direction: column;
        align-items: center;
    }

    .section_centro_header {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 1rem;
        background: var(--color-tercer);
        color: white;
    }
    
    .section_centro article {
        display: flex;
        width: 100%;
        height: 90%;
        flex-direction: column;
        border-radius: 0.7rem;
    }

    .section_centro_reproductor {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border-radius: 1rem; */
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background: var(--color-tercer);
    }

    .menu {
        display: flex;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 8%;
        bottom: 0;
        align-items: center;
        background: var(--color-primary);
    }
    
    .menu ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    .menu ul li {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .menu ul li i {
        color: white
    }
    .menu ul li i:hover {
        color: green
    }

    .section_centro_navegador {
        display: flex;
        width: 100;
        height: 10%;
        margin-top: 0.7rem;
        justify-content: center;
        align-items: center;
        border-radius: 0.7rem;
        background: var(--color-tercer);
    }

    .section_centro_navegador input[type="text"] {
        padding: 10px;
        width: 85%;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        font-size: 16px;
    }
    
    .section_centro_navegador input[type="text"]:focus {
        outline: none;
        border-color: green; /* Cambiar color al enfocar */
    }

    /* ////////////////////////////////////////////////////////////////////////////////////// */

    .section_derecha {
        display: flex;
        width: 100vw;
        z-index: -1;
        /* height: 50%; */
        flex-direction: column;
    }

    .section_derecha_navegador input[type="text"] {
        padding: 10px;
        width: 85%;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        font-size: 16px;
    }
    
    .section_derecha_navegador input[type="text"]:focus {
        outline: none;
        border-color: green; /* Cambiar color al enfocar */
    }
}