:root{
    --color-primary: black; /* COLOR BODY */
    --color-secundary: #1ed760; /* color verde */
    --color-tercer: #131313; /* Color secciones */
    --color-body-canciones: #242424;
    --color-canciones: #376975b5;
}