<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Music</title>
</head>
<body>
    <main>
        <section class="section_izquierda">
            <header class="section_izquierda_header">
                <h1>Discover New Music</h1>
            </header>
            <article>
                <div class="section_izquierda_navegador">
                    <input type="text" id="search-input" placeholder="Search...">
                    <button id="search-button">Search</button>
                </div>
                <div class="section_izquierda_album">
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                </div>
            </article>
        </section>
        <section class="section_centro">
            <header class="section_centro_header">
                <h1>Now playing</h1>
            </header>
            <article>
                <div class="section_centro_reproductor">
                    <div><img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2024/05/dia-goku-3310137.jpg?tf=3840x" alt=""></div>
                </div>
                <div class="section_centro_navegador">
                    <input type="text" id="search-input" placeholder="Search...">
                    <button id="search-button">Search</button>
                </div>
            </article>
        </section>
        <section class="section_derecha">
            <header class="section_derecha_header">
                <h1>Track list</h1>
            </header>
            <article>
                <div class="section_derecha_navegador"></div>
                <div class="section_derecha_canciones"></div>
            </article>
        </section>
    </main>
</body>
</html>