<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="module" src="../js/components/dev.js" ></script>
    <title>Music</title>
</head>
<body>
    <main>
        <section id="1" class="section_izquierda">
            <article>
                <header class="section_izquierda_header">
                    <h1>Discover New Music</h1>
                </header>
                <div class="section_izquierda_navegador">
                    <input id="search-input" type="text" placeholder="Buscar...">
                </div>
                <div  id="br" class="section_izquierda_album">
                    <my-album></my-album>
                    <my-album></my-album>
                    <my-album></my-album>
                    <my-album></my-album>
                    <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7chTH3GBjjAyagf0SPCZDL?utm_source=generator" width="95%" height="60%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
                    <!-- <my-frame>hola</my-frame> -->
                    <!-- <my-frame uri="spotify:track:7chTH3GBjjAyagf0SPCZDL"></my-frame> -->
                </div>
            </article>
        </section>
        <section id="2" class="section_centro">
            <header class="section_centro_header">
                <h1>Now playing</h1>
            </header>
            <article>
                <div class="section_centro_reproductor">
                    <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7chTH3GBjjAyagf0SPCZDL?utm_source=generator" width="95%" height="60%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
                    <div class="section_centro_navegador">
                        <input id="search-input" type="text" placeholder="Buscar...">
                    </div>
                </div>
            </article>
        </section>
        <section id="3" class="section_derecha">
            <article>
                <header class="section_derecha_header">
                    <h1>Track list</h1>
                </header>
                <div class="section_derecha_navegador">
                    <input id="search-input" type="text" placeholder="Buscar...">
                </div>
                <div class="section_derecha_canciones">
                    <!-- <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spoti fy.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                    <div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4RbCdwPPk5XUpTrxAvntGM?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
                </div> -->
            </article>
        </section>
        <nav class="menu" >
            <ul>
                <li>
                    <a href="#1"><i class="bx bx-home"></i></a>
                </li>
                <li>
                    <a href="#2"><i class="bx bx-book-bookmark"></i></a>

                </li>
                <li> 
                    <a href="#3"><i class="bx bx-grid-alt"></i></a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>